openapi: "3.0.0"
info:
  version: "1.0.0"
  title: "GOG API"
  description: Game supplier and distributor
  contact:
    name: OpenAPI spec creator (Not-affiliated)
    email: alfie.rayner30@gmail.com

servers:
  - url: https://embed.gog.com
    description: Embeded gog server
  - url: https://auth.gog.com
    description: GOG authentication redirect
  - url: https://www.gog.com
    description: Default website server

tags:
  - name: Auth
    description: Authorization requests
    externalDocs:
      description: Find out more
      url: https://gogapidocs.readthedocs.io/en/latest/auth.html

paths:
  /auth:
    get:
      summary: Sends you to the login page so use a web client
      description: Redirects to the login site. Do not use this directly from your client, it is not a JSON API, visit it with a web browser instead.
      operationId: Auth
      tags:
        - "Auth"
      parameters:
        - in: query
          name: client_id
          schema:
            type: string
          example: Use 46899977096215655
          description: Used to publicly identify apps
        - in: query
          name: redirect_uri
          schema:
            type: string
          example: Use https://embed.gog.com/on_login_success?origin=client
          description: Where to redirect after auth
        - in: query
          name: response_type
          schema:
            type: string
          example: Use code
          description: No clue what this defines
        - in: query
          name: layout
          schema:
            type: string
          example: use client2
          description: No clue what this defines
      responses:
        "200":
          description: Authorization token 
          content:
            application/http:
              schema:
                type: string
              example: https://<IP/DOMAIN>/token?code=<YOUR_AUTH_CODE>

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []

