openapi: "3.0.0"
info:
  version: "1.0.0"
  title: "Steam API"
  description: Game supplier and distributor
  contact:
    name: OpenAPI spec creator
    email: alfie.rayner30@gmail.com

servers:
  - url: https://api.steampowered.com
    description: Steam web api server
  - url: https://cdn.cloudflare.steamstatic.com
    description: The server to retieve media
tags:
  - name: Web
    description: Everything that is used to get data
    externalDocs:
      description: Find out more
      url: https://steamapi.xpaw.me
  - name: Media
    description: Ways to get media from steam
    externalDocs:
      description: Find out more
      url: https://steamdb.info/app/10/info/


paths:
  /ISteamNews/GetNewsForApp/v0002:
    get:
      summary: returns game news by appid.
      description: GetNewsForApp returns the latest of a game specified by its appID.
      operationId: GetNewsForApp
      tags:
        - "Web"
      parameters:
        - in: query
          name: appid
          schema:
            type: integer
          description: AppID of the game
        - in: query
          name: count
          schema:
            type: integer
          description: amount of entries returned
        - in: query
          name: maxlength
          schema:
            type: integer
          description: Max length a news entry can be
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: JSON object of data
          content:
            application/json:
              schema:
                type: object
                properties:
                  appnews:
                    type: object
                    properties:
                      appid:
                        type: integer
                      newsitems:
                        type: array
                        items:
                          type: object
                          properties:
                            gid:
                              type: integer
                            title:
                              type: string
                            url:
                              type: string
                            is_external_url:
                              type: boolean
                            author:
                              type: string
                            contents:
                              type: string
                            feedlabel:
                              type: string
                            date:
                              type: integer
                            feedname:
                              type: string
                            feedtype:
                              type: integer
                            appid:
                              type: integer
                            tags:
                              type: array
                              items:
                                type: string
            application/xml:
              schema:
                type: object
                xml:
                  name: "appnews"
                properties:
                  appid:
                    type: integer
                  newsitems:
                    type: object
                    properties:
                      newsitems:
                        type: array
                        items:
                          type: object
                          properties:
                            gid:
                              type: string
                            title:
                              type: string
                            url:
                              type: string
                            is_external_url:
                              type: boolean
                            author:
                              type: string
                            contents:
                              type: string
                            feedlabel:
                              type: string
                            date:
                              type: integer
                            feedname:
                              type: string
                            feedtype:
                              type: integer
                            appid:
                              type: integer
                            tags:
                              type: array
                              items:
                                type: string
                  count:
                    type: string
        "403":
          description: Using non-valid parameters
      deprecated: false

  /ISteamUserStats/GetGlobalAchievementPercentagesForApp/v0002:
    get:
      summary: Returns global achievement percentages for a game
      description: Returns on global achievements overview of a specific game in percentages
      operationId: GetGlobalAchievementPercentagesForApp
      tags:
        - "Web"
      parameters:
        - in: query
          name: gameid
          schema:
            type: integer
          description: AppID of the game you want the achievements of
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: JSON/XML/VDF object of data
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievementpercentages:
                    type: object
                    properties:
                      achievements:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            percent:
                              type: integer
            application/xml:
              schema:
                type: object
                xml:
                  name: "achievementpercentages"
                properties:
                  achievements:
                    type: array
                    items:
                      type: object
                      properties:
                        achievement:
                          type: object
                          properties:
                            name:
                              type: string
                            percent:
                              type: integer
  /ISteamUser/GetPlayerSummaries/v0002:
    get:
      summary: Returns user data
      description: Returns on global achievements overview of a specific game in percentages
      operationId: GetPlayerSummaries
      tags:
        - "Web"
      parameters:
        - in: query
          name: key
          schema:
            type: string
          description: Your steam web api key
        - in: query
          name: steamid
          schema:
            type: integer
          description: Comma-delimited list of 64 bit Steam IDs to return profile information for. Up to 100 Steam IDs can be requested.
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: Some data associated with a Steam account may be hidden if the user has their profile visibility set to "Friends Only" or "Private". In that case, only public data will be returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses:
                    type: object
                    properties:
                      players:
                        type: array
                        items:
                          type: object
                          properties:
                            steamid:
                              type: string
                            communityvisibilitystate:
                              type: integer
                            profilestate:
                              type: integer
                            personaname:
                              type: string
                            profileurl:
                              type: string
                            avatar:
                              type: string
                            avatarmedium:
                              type: string
                            avatarfull:
                              type: string
                            avatarhash:
                              type: string
                            personastate:
                              type: integer
                            realname:
                              type: string
                            primaryclanid:
                              type: string
                            timecreated:
                              type: integer
                            personastateflags:
                              type: integer
                            loccountrycode:
                              type: string
                            locstatecode:
                              type: string
                            loccityid:
                              type: string
            application/xml:
              schema:
                type: object
                xml:
                  name: "Response"
                properties:
                  players:
                    type: object
                    properties:
                      player:
                        type: array
                        items:
                          type: object
                          properties:
                            steamid:
                              type: string
                            communityvisibilitystate:
                              type: integer
                            profilestate:
                              type: integer
                            personaname:
                              type: string
                            profileurl:
                              type: string
                            avatar:
                              type: string
                            avatarmedium:
                              type: string
                            avatarfull:
                              type: string
                            avatarhash:
                              type: string
                            personastate:
                              type: integer
                            realname:
                              type: string
                            primaryclanid:
                              type: string
                            timecreated:
                              type: integer
                            personastateflags:
                              type: integer
                            loccountrycode:
                              type: string
                            locstatecode:
                              type: string
                            loccityid:
                              type: string
  /ISteamUser/GetFriendList/v0001:
    get:
      summary: Returns friend list
      description: Returns the friend list of any Steam user, provided their Steam Community profile visibility is set to "Public".
      operationId: GetFriendList
      tags:
        - "Web"
      parameters:
        - in: query
          name: key
          schema:
            type: string
          description: Your steam web api key
        - in: query
          name: steamid
          schema:
            type: integer
          description: 64 bit Steam ID to return friend list for.
        - in: query
          name: relationship
          schema:
            type: string
          description: Relationship filter. Either all or friend.
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: The user's friends list, as an array of friends. Nothing will be returned if the profile is private.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendslist:
                    type: object
                    properties:
                      friends:
                        type: array
                        items:
                          type: object
                          properties:
                            steamid:
                              type: string
                            relationship:
                              type: string
                            friend_since:
                              type: integer
            application/xml:
              schema:
                type: object
                xml:
                  name: "friendslist"
                properties:
                  friends:
                    type: object
                    properties:
                      friend:
                        type: array
                        items:
                          type: object
                          properties:
                            steamid:
                              type: string
                            relationship:
                              type: string
                            friend_since:
                              type: integer
  /ISteamUserStats/GetPlayerAchievements/v0001:
    get:
      summary: Returns a list of achievements for the user by app id
      description: Returns a list of achievements for the user by app id, only of the profile is public
      operationId: GetPlayerAchievements
      tags:
        - "Web"
      parameters:
        - in: query
          name: appid
          schema:
            type: integer
          description: AppID of the game
        - in: query
          name: key
          schema:
            type: string
          description: Your steam web api key
        - in: query
          name: steamid
          schema:
            type: integer
          description: 64 bit Steam ID to return friend list for.
        - in: query
          name: l
          schema:
            type: string
          description: (Optional) Language. If specified, it will return language data for the requested language
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: A list of achievements.
          content:
            application/json:
              schema:
                type: object
                properties:
                  playerstats:
                    type: object
                    properties:
                      SteamID:
                        type: string
                      gameName:
                        type: string
                      achievements:
                        type: array
                        items:
                          type: object
                          properties:
                            apiname:
                              type: string
                            achieved:
                              type: integer
                            unlocktime:
                              type: integer
                      success:
                        type: boolean
            application/xml:
              schema:
                type: object
                xml:
                  name: "playerstats"
                properties:
                  SteamID:
                    type: string
                  gameName:
                    type: string
                  achievements:
                    type: array
                    items:
                      type: object
                      properties:
                        achievement:
                          type: object
                          properties:
                            apiname:
                              type: string
                            achieved:
                              type: integer
                            unlocktime:
                              type: integer
                  success:
                    type: boolean
  /ISteamUserStats/GetUserStatsForGame/v0002:
    get:
      summary: Returns a list of achievements
      description: Returns a list of achievements for this user by app id
      operationId: GetUserStatsForGame
      tags:
        - "Web"
      parameters:
        - in: query
          name: appid
          schema:
            type: integer
          description: AppID of the game
        - in: query
          name: key
          schema:
            type: string
          description: Your steam web api key
        - in: query
          name: steamid
          schema:
            type: integer
          description: 64 bit Steam ID to return friend list for.
        - in: query
          name: l
          schema:
            type: string
          description: (Optional) Language. If specified, it will return language data for the requested language
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: User stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  playerstats:
                    type: object
                    properties:
                      SteamID:
                        type: string
                      gameName:
                        type: string
                      stats:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: integer
            application/xml:
              schema:
                type: object
                xml:
                  name: "playerstats"
                properties:
                  SteamID:
                    type: string
                  gameName:
                    type: string
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        stat:
                          type: object
                          properties:
                            apiname:
                              type: string
                            achieved:
                              type: integer
                            unlocktime:
                              type: integer
  /IPlayerService/GetOwnedGames/v0001:
    get:
      summary: Returns player owned games
      description: Returns a list of games a player owns along with some playtime information, if the profile is publicly visible. Private, friends-only, and other privacy settings are not supported unless you are asking for your own personal details (ie the WebAPI key you are using is linked to the steamid you are requesting).
      operationId: GetOwnedGames
      tags:
        - "Web"
      parameters:
        - in: query
          name: key
          schema:
            type: string
          description: Your steam web api key
        - in: query
          name: steamid
          schema:
            type: integer
          description: 64 bit Steam ID to return friend list for.
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: Owned games
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      game_count:
                        type: integer
                      games:
                        type: array
                        items:
                          type: object
                          properties:
                            appid:
                              type: integer
                            playtime_forever:
                              type: integer
            application/xml:
              schema:
                type: object
                xml:
                  name: "response"
                properties:
                  game_count:
                    type: integer
                  games:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            appid:
                              type: integer
                            playtime_forever:
                              type: integer
  /IPlayerService/GetRecentlyPlayedGames/v0001:
    get:
      summary: Returns recently played game
      description: Returns a list of games a player has played in the last two weeks, if the profile is publicly visible. Private, friends-only, and other privacy settings are not supported unless you are asking for your own personal details (ie the WebAPI key you are using is linked to the steamid you are requesting).
      operationId: GetRecentlyPlayedGames
      tags:
        - "Web"
      parameters:
        - in: query
          name: key
          schema:
            type: string
          description: Your steam web api key
        - in: query
          name: steamid
          schema:
            type: integer
          description: 64 bit Steam ID to return friend list for.
        - in: query
          name: count
          schema:
            type: integer
          description: (Optional) limit to a certain number of games (the number of games a person has played in the last 2 weeks is typically very small)
        - in: query
          name: format
          schema:
            type: string
          description: Output format. json (default), xml or vdf (Not mapped)
      responses:
        "200":
          description: Played games
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      games:
                        type: array
                        items:
                          type: object
                          properties:
                            appid:
                              type: integer
                            name:
                              type: string
                            playtime_2weeks:
                              type: integer
                            playtime_forever:
                              type: integer
                            img_icon_url:
                              type: string
                            playtime_windows_forever:
                              type: integer
                            playtime_mac_forever:
                              type: integer
                            playtime_linux_forever:
                              type: integer
            application/xml:
              schema:
                type: object
                xml:
                  name: "response"
                properties:
                  total_count:
                    type: integer
                  games:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            appid:
                              type: integer
                            name:
                              type: string
                            playtime_2weeks:
                              type: integer
                            playtime_forever:
                              type: integer
                            img_icon_url:
                              type: string
                            playtime_windows_forever:
                              type: integer
                            playtime_mac_forever:
                              type: integer
                            playtime_linux_forever:
                              type: integer
  /steamcommunity/public/images/apps/{appid}/{hash}.{filetype}:
    get:
      summary: returns public game images
      description: Returns a game icon from the appid and the hash of a image (ONLY ON MEDIA SERVER)
      operationId: GetGamePublicImage
      tags:
        - "Media"
      parameters:
        - in: path
          name: appid
          required: true
          schema:
            type: integer
          description: AppID of the game you want the achievements of
        - in: path
          name: hash
          required: true
          schema:
            type: string
          description: The hash from a image used to retieve items
        - in: path
          name: filetype
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A picture
          content:
            image/*:
              schema:
                type: string
                format: binary
  /steam/apps/{appid}/{hash}.{filetype}:
    get:
      summary: returns steam app images
      description: Returns a game icon from the appid and the hash of a image (ONLY ON MEDIA SERVER)
      operationId: GetGameAppImage
      tags:
        - "Media"
      parameters:
        - in: path
          name: appid
          required: true
          schema:
            type: integer
          description: AppID of the game you want the achievements of
        - in: path
          name: hash
          required: true
          schema:
            type: string
          description: The hash from a image used to retieve items
        - in: path
          name: filetype
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A picture
          content:
            image/*:
              schema:
                type: string
                format: binary